[Unit]
Description=Consul agent
Documentation=https://www.consul.io/docs/
After=network-online.target
Wants=network-online.target
ConditionFileNotEmpty=/etc/consul.d/01-config.json

[Service]
Environment="DAEMON_ARGS=-data-dir=/var/lib/consul -config-dir=/etc/consul.d"
EnvironmentFile=-/etc/default/%p
ExecStart=/usr/bin/consul agent $DAEMON_ARGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
User=consul
KillSignal=SIGINT

#AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
#PrivateTmp=true

[Install]
WantedBy=multi-user.target
